<div id="intro-container">

  <div id="company-name">
    <h1>SPARTAN</h1>
  </div>

  <div id="spotify-link">
    <a id="spotify-enter" href=""><img src="/assets/spotify-login.png" alt="Login Via Spotify" title="Login Via Spotify"></a>
  </div>



















</div>
