<div id="intro-container">

  <div id="company-name">
    <h1>SPARTAN</h1>
  </div>

  <div id="spotify-link">
    <a id="spotify-enter" href=""><img src="/assets/spotify-login.png" alt="Login Via Spotify" title="Login Via Spotify"></a>
  </div>
  <div id="fb-link">
    <a id="fb-enter" href=""><img src="/assets/FB-login.png" alt="Login Via Facebook" title="Login Via Facebook"></a>
  </div>
  <div id="google-link">
    <a id="google-enter" href=""><img src="/assets/google-login.png" alt="Login Via Google" title="Login Via Google"></a>
  </div>
  <div id="twitter-link">
    <a id="twitter-enter" href=""><img src="/assets/twitter-login.png" alt="Login Via Twitter" title="Login Via Twitter"></a>
  </div>


















</div>
