<div id="intro-container">

  <div id="company-name">
    <h1>SPARTAN</h1>
  </div>

  <div id="enter-link">
    <a class="enter" href="" alt="Login-page" title="Sign-In"><h1>ENTER</h1></a>
  </div>



















</div>
