// Place all the styles related to the Intro controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#intro-container {
  background: #222326;
  position: relative;
  width: 1280px;
  height: 960px;
}

#company-name {
  text-align: center;
}
#company-name h1 {
  font-family: "Abel";
  color: #27C4F8;
  padding-top: 85px;
  font-weight: 300;
}
/*#spotify-link {
  text-align: center;
} */
#spotify-enter{
  width: 270px;
  height: 50px;
  padding-top: 95px;
}


@media (min-width: 600px) {

}
