// Place all the styles related to the Intro controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#intro-container {

  position: relative;
  width: 1280px;
  height: 450px;
}

#company-name {
  text-align: center;
}
#company-name h1 {
  font-family: "Abel", sans-serif;
}
#enter-link {
  text-align: center;
}
#enter-link h1 {
  font-family: "Abel", sans-serif;
}
